
.button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  color: $blue--brighter;
  font-family: $bold-font;
  font-size: 18px;
  background: $basic_yellow;
  border-radius: 10px;
  padding: 22px;
  cursor: pointer;

  &::after {
    position: absolute;
    content: "";
    top: 26px;
    right: 16px;
    border-top: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 10px solid $blue--brighter;
  }

  &:hover {
    background: $special_yellow_dark;
  }

  &:active {
    color: $basic_blue_light--active;
  }

  &:active::after {
    opacity: 0.3;
  }
}


.button--round {
  border-radius: 30px;
  padding: 9px;
  text-align: center;

  &::after {
    display: none;
  }
}
