
.feedback {
  position: relative;
  background: $basic_blue;
  border-radius: 0 0 30px 30px;
  margin-top: -75px;
  z-index: 2;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 60px 60px;
  }
}


.feedback__wrapper {
  padding: 145px 25px 26px;
  @media (min-width: $tablet-width) {
    padding: 154px 76px 60px;
  max-width: 270px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 154px 76px 60px;
    max-width: 616px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1174px;
    padding: 191px 133px 104px;
  }
}


.feedback__title {
  text-align: center;
  margin: 0 0 19px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 59px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 57px 0;
  }
}


.feedback__log-in-text {
  color: $white;
  font-family: $regular-font;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin: 0 0 32px 0;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 32px;
    margin: 0 0 68px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 63px 0;
  }
}


.feedback__authorization-link {
  color: $basic_yellow;
  position: relative;
  border-bottom: 1px solid;

  &:hover {
    color: $special_orange;
  }

  &:active {
    opacity: 0.3;
  }
}


.feedback__log-in-label {
  position: relative;
}


.feedback__form {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }
}


.feedback__log-in-button {
  position: absolute;
  right: 0;
  height: 62px;
  width: 60px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    border-radius: 0 20px 20px 0;

    &::after {
      top: 34px;
      right: 26px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 330px;
    padding-left: 36px;
  }
}


.feedback__log-in-button-full {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin-right: 100%;
    font-size: 24px;
  }
}


.feedback__log-in-input {
  box-sizing: border-box;
  font-family: $regular-font;
  font-weight: 700;
  font-size: 18px;
  width: 100%;
  height: 58px;
  border-radius: 10px;
  border: 4px solid $white;
  padding: 27px 60px 27px 25px;
  outline: none;

  @media (min-width: $tablet-width) {
    border-radius: 20px;
    font-size: 24px;
    padding: 36px 80px 36px 36px;
  }

  &:focus {
    color: $white;
    background: transparent;
  }
}


.feedback__log-in-input::placeholder {
  color: $special_grey;
  opacity: 0.3;
  font-family: $regular-font;
  font-weight: 700;
  font-size: 18px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
  }
}


.feedback__contacts-text {
  color: $white;
  font-family: $regular-font;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.01em;
  margin: 0 0 30px 0;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 30px;
  }
}
