
.intro {
  background: $basic_blue;
}


.intro__wrapper {
  padding: 0 25px 72px;

  @media (min-width: $tablet-width) {
    padding: 0 40px 137px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 60px 255px;
  }
}


.intro__slogan {
  color: $white;
  font-family: $regular-font;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 313px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 70px;
    max-width: 399px;
    margin: 0 auto 86px;
  }
}
