
.logo-copyright {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 13px;
  border-top: 1px solid $line-color-copyright;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    border: none;
  }
}


.logo-copyright__text {
  align-self: center;
  color: $special_grey;
  font-family: $regular-font;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding-right: 23px;
  }
}
