
.menu {
  position: fixed;
  display: none;
  background: $white;
  z-index: 999;
  width: 100%;
}


.menu__wrapper {
  padding: 22px 24px 38px;
}


.menu__socials {
  display: flex;
  justify-content: center;
  margin: 0;
}


.menu__social-item:not(:last-child) {
  margin-right: 26px;
}
