
.menu-user-nav-links {
  margin: 0 0 41px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 129px;
  }
}


.menu-user-nav-links__item-link {
  color: $basic_blue;
  font-family: $regular-font;
  font-weight: 700;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    font-size: 28px;
  }
}


.menu-user-nav-links__item-link--authorization {
  display: inline-block;
  text-align: center;
  width: 100%;
  color: $basic_blue;
  background: $basic_yellow;
  font-family: $regular-font;
  font-weight: 700;
  font-size: 17px;
  border-radius: 50px;
  padding: 10px 0;
  margin-bottom: 66px;

  &:hover {
    background: $special_yellow_dark;
  }

  &:active {
    color: $basic_blue_light--active;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 188px;
    top: 40px;
    right: 40px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}


.menu-user-nav-links__item--phone {
  margin-bottom: 27px;
}


.menu-user-nav-links__item-link--feedback {
  color: $basic_yellow;

  &:hover {
    color: $special_yellow_dark;
  }

  &:active {
    opacity: 0.3;
  }
}
