
.menu {
  position: fixed;
  // display: none;
  background: $white;
  top: 0;
  z-index: 999;
  width: 100%;
}


.menu__wrapper {
  padding: 27px 25px 41px;

  @media (min-width: $tablet-width) {
    padding: 45px 40px 92px;
  }
}


.menu__socials {
  display: flex;
  justify-content: center;
  margin: 0;
}


.menu__social-item:not(:last-child) {
  margin-right: 26px;
}
