
.page-header {
  display: flex;
  flex-direction: column;
  background: $basic-blue;
}


.page-header__nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 270px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 688px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1320px;
    display: grid;
    grid-template-columns: 1fr 832px 1fr;
  }
}


  border-radius: unset;
.menu-main-nav-desktop {
  display: none;
  position: relative;
  font-family: $regular-font;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  &__item {
    margin-right: 34px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    background: $white;
    top: 9px;
    left: -105px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}


.menu-main-nav-desktop__item:last-child {
  margin: 0;
}


.menu-main-nav-desktop__item a {
  color: $white;
}


.menu-toggle {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
