
.preview-companion-profiles {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
  }
}


.preview-companion-profile {
  background: $white;
  width: 270px;
  height: 428px;
  border-radius: 10px;
  margin: 0 auto 9px;

  @media (min-width: $tablet-width) {
    width: 285px;
    margin: 0 0 81px 0;
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    height: 100%;
  }
}


.preview-companion-profile__name {
  position: relative;
  display: inline-block;
  color: $blue--brighter;
  font-family: $regular-font;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  padding-left: 16px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 22px;
  }

  &--online::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background: $online_green;
    border-radius: 50px;
    left: 0;
    top: 8px;
  }

  &--offline::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background: $offline_red;
    border-radius: 50px;
    left: 0;
    top: 8px;
  }
}


.preview-companion-tags {
  display: flex;
  flex-wrap: wrap;
  color: $special_grey;
  font-family: $regular-font;
  font-size: 16px;
  line-height: 18px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 23px;
  }
}


.preview-companion-profile__preview-companion-level {
  background: $level_background;
  color: $white;

  &::before {
    background: $white;
    opacity: 0.3;
  }
}
