
.review__blockquote {
  color: $white;
  font-family: $regular-font;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding-left: 25px;
}


.review__cite {
  color: $white;
  font-style: normal;
  font-family: $bold-font;
  font-size: 16px;
  line-height: 22px;
  padding-left: 25px;
}
