
.step-status {
  display: flex;
  position: absolute;
  top: 28px;
  right: 90px;
}


.step-status__item {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background: $blue--brighter;
  opacity: 0.3;

  &:nth-child(2) {
    left: 21px;
  }

  &:nth-child(3) {
    left: 42px;
  }

  &--current {
    background: $blue--brighter;
    opacity: 1;
  }
}
