
.steps {
  display: flex;
  flex-direction: column;
  list-style: none;
  counter-reset: step;
  margin: 20px 0 0 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
  }
}


.steps__item {
  position: relative;
  counter-increment: step;
  color: $basic_blue;
  font-family: $regular-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  height: 100px;
  margin-top: -20px;
  padding-left: 24px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    height: 140px;
    border-radius: 20px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    height: 107px;
  }

  &::after {
    position: absolute;
    content: counter(step);
    color: $white;
    right: 21px;
    top: 22px;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      left: 25px;
      top: 89px;
    }

    @media (min-width: $desktop-width) {
      font-size: 24px;
      left: 304px;
      top: 30px;
    }
  }
}


@media (min-width: $desktop-width) {
  .steps__item:last-child::after {
    left: 326px;
  }
}


.steps__text {
  max-width: 140px;
  margin: 22px 0;

  @media (min-width: $tablet-width) {
    max-width: 190px;
    margin: 31px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 30px 0 0 0;
  }
}


.steps__item:nth-child(1) {
  background: $special_orange;
  border-radius: 10px 10px 0 0;
  z-index: 1;

  @media (min-width: $tablet-width) {
    border-radius: 20px 0 0 0;
    margin-right: -20px;
  }

  @media (min-width: $desktop-width) {
    border-radius: 20px 0 0 20px;
  }
}


.steps__item:nth-child(2) {
  background: $special_orange--light;
  border-radius: 10px 10px 0 0;
  z-index: 2;

  @media (min-width: $tablet-width) {
    border-radius: 20px 20px 0 0;
  }

  @media (min-width: $desktop-width) {
    border-radius: 20px 0 0 20px;
    margin-right: -20px;
  }
}


.steps__item:nth-child(3) {
  background: $special_yellow_dark;
  border-radius: 10px 10px 0 0;
  z-index: 3;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 0 20px;
    margin-right: -20px;
  }

  @media (min-width: $desktop-width) {
    border-radius: 20px 0 0 20px;
  }
}


.steps__item:nth-child(4) {
  background: $basic_yellow;
  border-radius: 10px;
  z-index: 3;
  height: 80px;

  @media (min-width: $tablet-width) {
    height: 140px;
    border-radius: 0 0 20px 20px;
  }

  @media (min-width: $desktop-width) {
    border-radius: 20px;
    height: 107px;
  }
}
