
.user-profile {
  margin-top: -75px;
}


.user-profile__wrapper {
  background: $basic_blue_light;
  border-radius: 0 0 30px 30px;
  padding: 22px 25px 34px;
}


.user-profile__user-level {
  width: 100px;
  height: 100px;
}
