
.user-nav__item-link--authorization {
  color: $basic_blue;
  background: $basic_yellow;
  font-family: $regular-font;
  font-weight: 700;
  font-size: 17px;
  border-radius: 50px;
  padding: 10px 40px;

  &:hover {
    background: $special_yellow_dark;
  }

  &:active {
    color: $basic_blue_light--active;
  }
}
