
$blue: #132576;
$basic_blue: #161c35;
$dark_blue: #192144;
$brighter_blue: #1d2e5b;
$basic_blue_light: #edeff6;
$special_blue_light: #dfe3f0;
$special_orange: #ff8d30;
$special_orange_light: #ffa530;
$special_yellow_dark: #ffbd30;
$basic_yellow: #ffd74b;
$special_grey: #444444;

$basic_blue_active: rgba(22, 28, 53, 0.3);
$basic_blue_light_active: rgba(29, 46, 91, 0.3);

$level_background: rgba(0, 0, 0, 0.6);

$offline_red: #f97676;
$online_green: #81e31e;
