
$basic_blue: #161c35;
$dark_blue: #192144;
$darker_blue: #121936;
$basic_blue_light: #edeff6;
$special_blue_light: #dfe3f0;
$special_orange: #ff8d30;
$special_orange_light: #ffa530;
$special_yellow_dark: #ffbd30;
$basic_yellow: #ffd74b;
$special_grey: #444444;


$offline_red: #f97676;
$online_green: #81e31e;
